
  <!-- Footer -->
  <footer>
    <div class="wrapper flex">
        <div class="left">
            <div>
                <svg style="width:30px; fill:#fff;" enable-background="new 0 0 323.6 330.5" version="1.1" viewBox="0 0 323.6 330.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="292.1 70 323.6 0 161.8 65 0 0 31.6 70 92.7 92.1 109.7 133.6 57.2 116.9 81.2 171.6 105.5 185.1 161.8 330.5 218.1 185.1 242.5 171.6 266.5 116.9 214 133.6 231 92.1"/>
                </svg>
            </div>
            <div>Thank you for watching!</div>
            <div>©2024 Florian Chapon - All right reserved.</div>
        </div>
        <div>
            <div>Join me on my social networks !</div>
        <div class="social">
            <a href="https://www.linkedin.com/in/florianchapon/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
            </a>
            <a href="https://x.com/FlorianChapon" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1200 1227">
                    <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
                </svg>
            </a>
        </div>
        </div>

    </div>
</footer>



<!-- Fonction gestion mail, à conserver -->
 <!--
<script>

function mail() {
  var name = encodeURI(document.getElementById("name").value);
  var email = encodeURI(document.getElementById("email").value);
  var message = encodeURI(document.getElementById("message").value);
    
  var url = "pages/send.php?name="+name+"&email="
        +email+"&message="
        +message;
        
  $('#test').load(url);	
  
  document.getElementById("form").innerHTML = "<font color='green'><b>Mail correctly send.</b></font>";

}

</script>

-->