

<header>

	<div class="navbar">   
        <div class="navbar-items">   
            <div id="logo">
                <svg style="width:30px; fill:#fff;" enable-background="new 0 0 323.6 330.5" version="1.1" viewBox="0 0 323.6 330.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="292.1 70 323.6 0 161.8 65 0 0 31.6 70 92.7 92.1 109.7 133.6 57.2 116.9 81.2 171.6 105.5 185.1 161.8 330.5 218.1 185.1 242.5 171.6 266.5 116.9 214 133.6 231 92.1"/>
                </svg>
                <a style="margin-left:10px; color:#FFF;">Florian CHAPON</a>
            </div>
            <nav>
                <a href="#background">Background</a>
                <!--
                <a href="#skills">Skills</a>
                <a href="#projects">Projects</a>
                -->
                <a href="#contact" class="Btn-contact">Contact me !</a>
            </nav>
        </div>
    </div>	

	
	
</header>