---
layout: default
---

	
	
		<div class="entry-page-image fixed">	
			<div class="title-box">
			<h1 class="site-title">Florian Chapon</h1>
			<h2 class="site-description">Graphisme • Webdesign • Webdevelopment</h2>
			</div>
		</div><!-- .entry-page-image -->	
	
	<!-- menu -->
	<a href="#introduction"><div style="
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.01+0,0.8+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
		bottom: 0;
		height: 130px;
		width: 100%;
	
	">
	<div style="bottom: 40px; width: 100%; text-align:center; font-size:17px; font-weight:400;height: 50px; position: absolute;left: 0; right: 0; margin: auto; color:#FFFFFF;   text-shadow: #000000 0.1em 0.1em 0.2em;">Cliquez ou scrollez</div>
	<div style="bottom: 20px; width: 100%; text-align:center; font-size:17px; font-weight:400;height: 50px; position: absolute;left: 0; right: 0; margin: auto; color:#FFFFFF;  text-shadow:  #000000 0.1em 0.1em 0.2em;
		-webkit-animation: scrolldown 1.5s;  /* Chrome, Safari, Opera */
		-webkit-animation-iteration-count: infinite;  /* Chrome, Safari, Opera */
		animation: scrolldown 1.5s;
		animation-iteration-count: infinite;
		
		">&#8595;</div></div></a>
	
	
			
			
					
	
	<!-- page -->
	<div id ="page" style="float:left;width:100%;background-color:#ffffff;">
	<div id="introduction"></div>
		
	<!-- Conteneur central1 -->
	<div style="float:left;width:100%; background: #F8F8F8;">
		<div class="full-width wow fadeInUp" data-wow-offset="50">
			<div style="line-height: 1.714285714;text-align: justify;">
			<? echo $json->container1->area1->content; /* Presentation */ ?></div>
			<div style="clear: both"></div>
		</div>
	
	<div class="full-width" style="background-image: url('theme/images/mokups/mokup2.png');
		background-size: contain;
		background-repeat: no-repeat;
		height:0;
		  padding-top: 20.51%;background-position:center;">
	</div>
		
	<div class="full-width wow fadeInUp" data-wow-delay="0.5s">
			<div class="third-width">
			<? echo $json->container2->area1->title; /* title */ ?>
			<? echo $json->container2->area1->content; /* contenu */ ?>
			</div>
			<div class="third-width">
			<? echo $json->container2->area2->title; /* title */ ?>
			<? echo $json->container2->area2->content; /* contenu */ ?>
			</div>		
			<div class="third-width last">
			<? echo $json->container2->area3->title; /* title */ ?>
			<? echo $json->container2->area3->content; /* contenu */ ?>
			</div>
		
		<div style="clear: both;" />
	</div>
	</div>
	
	
	</div>
	<!-- Fin Conteneur central1 -->
	
	<!-- separator -->
	<div style="float:left; width:100%; background-image: url(theme/images/content3-banner.jpg); background-repeat: no-repeat;
	 background-size: cover; background-attachment: fixed;">
		<div style="max-width:950px;margin:50px auto 50px auto;float:none;color:#FFFFFF;text-align:center;">
			<div style="margin-bottom:20px;">
				<span style="font-size:20px;">Vous avez besoin d'un </span>
				<span id="slogan" class="slogan">
				<b id="slogan0" class="is-visible"> webdevelopper?</b>
				<b id ="slogan1" class="is-hidden"> designer?</b>
				<b id = "slogan2" class="is-hidden"> chimiste?</b>
				</span>
			</div>	
			<div>
				<a href="#contact" id="contact-button" class="button">CONTACTEZ MOI</a>
			</div>
			<div style="clear: both;" />
		</div>
		</div>
	
	
	<script>
					
						var i=0;
						setInterval(function () {
							i = i+1;
								if (i==1) {
								document.getElementById("slogan0").className = "is-visible";
								document.getElementById("slogan1").className = "is-hidden";
								document.getElementById("slogan2").className = "is-hidden";	
								}
								
								else if (i==2) {
								document.getElementById("slogan0").className = "is-hidden";
								document.getElementById("slogan1").className = "is-visible";
								document.getElementById("slogan2").className = "is-hidden";	
								}
								
								else if (i==3) {
								document.getElementById("slogan0").className = "is-hidden";
								document.getElementById("slogan1").className = "is-hidden";
								document.getElementById("slogan2").className = "is-visible";	
								}
								else {
								i=0;	
								}
							}, 2000);	
						
	
	</script>
	
	<!-- fin separator -->
	
	
	
	
	<!-- Gallery -->
	<div style="float:left; width:100%; background: #FFFFFF;">
		<div id="portfolio" style="max-width:950px;margin:40px auto 40px auto;float:none;">
		<? echo $json->container3->title; /* title */ ?>
		
			<?php include "pages/gallery.php"; ?>
			
		</div>
	</div>
	<!-- Fin gallery -->
	
	
	<!-- Content 2 -->
	<div style="float:left; width:100%; background-image: url(theme/images/content2-banner.jpg); background-repeat: no-repeat;
	 background-size: cover; background-attachment: fixed;">
		<div id="about" class="full-width">
		<? echo $json->container4->title; /* title */ ?>
			
			<div style="float:left;width:100%;color:#FFFFFF;text-align:justify;">
				<div class="third-width wow bounceInUp" data-wow-delay="0s">
				
				<? echo $json->container4->area1->content; /* contenu */ ?>
				</div>
				
				<div class="third-width wow bounceInUp" data-wow-delay="0.12s">
				<? echo $json->container4->area2->content; /* contenu */ ?>
				</div> 
				
				<div class="third-width wow bounceInUp" data-wow-delay="0.25s">
				<? echo $json->container4->area3->content; /* contenu */ ?>
				</div>
			</div>
			<div style="clear:both;"/>
		
		</div>
	</div>
	</div>
	<!-- Fin Content 2 -->
	
	<!-- Contact -->
	<div id="contact" style="float:left; width:100%; background: #cfd3d9;">
		<div id="form" class="full-width">
		<h1 style="text-align:center;color:#fff;"><i>CONTACT</i><br/>•</h1>
			<input type="text" placeholder="NOM" name="name" id="name" class="contact-input">
			<input type="text" placeholder="E-MAIL" name="email" id="email" class="contact-input">
			<textarea placeholder="MESSAGE" name="message" id="message" class="contact-textarea"></textarea>
			<input type="submit" onclick="mail()" class="button" style="width:calc(100% - 4px);float:left;margin:0 0 1% 0;"></input>
		<div style="clear: both" />
		<div class="g-recaptcha" data-sitekey="6LdSYgsUAAAAAFvRIi8Ww--5l-1hssRcYfe3eXSz"></div>
	
		<div id="test"></div>
		</div>
	</div>
	<!-- Fin contact -->
	
	
	
	<!-- footer -->
	<div class="footer">
		<div class="full-width">
			<div style="float:left;">© <?php echo date("Y"); ?> Florian CHAPON, Lyon.</div>
			<div style="float:right;">
			<a href="https://fr.linkedin.com/in/florian-chapon-0370a680"><img src="theme/images/icons/linkedin.svg" style="width:32px;"/></a>
			<a href="http://www.viadeo.com/profile/002d138jft6febr"><img src="theme/images/icons/viadeo.svg" style="width:32px;"/></a>
			<a href="https://www.facebook.com/chaponf"><img src="theme/images/icons/facebook.svg" style="width:32px;"/></a>
			</div>
		<div style="clear: both" />
		</div>
	</div>	
	<!-- fin footer -->
	
	
	</div>
	<!-- fin page -->
	
	</div>		
	
	
	<script>
	
	function mail() {
		var name = encodeURI(document.getElementById("name").value);
		var email = encodeURI(document.getElementById("email").value);
		var message = encodeURI(document.getElementById("message").value);
			
		var url = "pages/send.php?name="+name+"&email="
					+email+"&message="
					+message;
					
		$('#test').load(url);	
		
		document.getElementById("form").innerHTML = "<font color='green'><b>Mail correctly send.</b></font>";
	
	}
	
	</script>
	
	
		
	</body>